@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    user-select: none;
}
body{
    font-family: "Roboto",sans-serif;
}
.container nav.desk,
.container nav.mob{
    width: 100%;
    background: #364a4b;
    height: 60px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    position: fixed;
    top: 0;
    left: 0;
}
nav.desk ul{
    list-style: none;
    width: 75%;
    height: 60px;
    margin: 0% auto;
}
nav.desk ul li{
    width: 20%;
    float:left;
text-align: center;
line-height: 60px;
text-transform: uppercase;
cursor: pointer;
transition: all 0.5s ease;
}
nav.desk ul li:hover{
    background-color: #a3ada5;
}
nav.desk ul li.active{
    background-color: #a3ada5;
}
nav ul li a{
    color:#fff;
    text-decoration: none;    
}
nav.mob{
    display: none;
    flex-wrap: wrap;
    
}
@media screen (min-width:375px) and (max-width:700px) {
    nav.desk{
        display: none;
    }
    nav.mob{
        display: block;
    }
}

